.header{
    height: 60px;
    background: #fff;
    box-shadow: 0 0 60px rgba(0,0,0,.12);
}
.header_inner{
    max-width: 1788px;
    position: relative;
    margin: auto;
    padding: 10px 20px 8px;
}
