


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
  box-sizing: border-box;
  font-family: FontAwesome;
}

body, html {
	height: 100%;
  font-family: Poppins-Regular, sans-serif;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

/*---------------------------------------------*/
/* a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
} */

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  /* color: #6675df; */
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

/* ul, li {
	margin: 0px;
	list-style-type: none;
} */


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999;}
input:-moz-placeholder { color: #999999;}
input::-moz-placeholder { color: #999999;}
input:-ms-input-placeholder { color: #999999;}

textarea::-webkit-input-placeholder { color: #999999;}
textarea:-moz-placeholder { color: #999999;}
textarea::-moz-placeholder { color: #999999;}
textarea:-ms-input-placeholder { color: #999999;}


label {
  display: block;
  margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
  font-family: Montserrat-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #555555;
}

.txt2 {
  font-family: Montserrat-Regular;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
}


/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*==================================================================
[ Background ]*/
.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}
.bg4 {background: #656568a4;}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}
.register-fields input[type=text]:not(.browser-default) {
  background-color: transparent
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}


.wrap-login100 {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}
/*==================================================================
[ login more ]*/
.login100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.login101-more{
  width: calc(100% - 700px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}


.login100-more::before , .login101-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}



/*==================================================================
[ Form ]*/

.login100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 50px 55px 55px 55px;
}
.login101-form {
  width: 700px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 50px 55px 55px 55px;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

/* .wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}
.wrap-input101 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 50px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.label-input100 {
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat-Regular;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
  border: none;
}

input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  border: none;
} */

/*---------------------------------------------*/

/* .focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #6675df;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100:focus {
  height: 48px;
}

.input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

.has-val {
  height: 48px !important;
}

.has-val + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
} */
/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #6675df;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #6675df;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;

  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}
.login100-form-btn:focus {
  background: lightseagreen;
}
/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .login100-more {
    width: calc(100% - 560px);
  }
  .login101-more {
    width: calc(100% - 700px);
  }
}

@media (max-width: 768px) {
  .login101-form {
    width: 100%;
  }
  .login101-more {
    width: calc(100% - 516px);
  }
}


@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    width: 100%;
  }
  .login101-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
    width: 100%;
  }

  .FormContent{
    width: 100%;
  }

}
/*------------------------------------------------------------------
[ Alert validate ]*/

/* .validate-input {
  position: relative;
} */

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
/*==================================================================
[ Social ]*/
.login100-form-social-item {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.login100-form-social-item:hover {
  background: #333333;
  color: #fff;
}

.backGround{
  background-image: url('./components/bg-01.jpg');
  /* background-image: url('./components/ss-logo-png-4'); */
}


.Header , .Footer{
  color: wheat;
  text-align: center;
  height: 100px;
  background-color: cadetblue;
  padding: 20px;
}

.dropdown-content{
  min-width: fit-content;
}





/* custom css start */

/* ===========================================================
 */
nav#home ul a {
  color: black;
}
.sidenav-overlay{
  z-index: 0;
}



#slide1{
  background-image: url('./images/slide-05.jpg');
  background-position: center;
  background-size: cover;
  height: 650px;
}
#slide2{
  background-image: url('./images/slide-06.jpg');
  background-position: center;
  background-size: cover;
  height: 650px;
}
#slide3{
  background-image: url('./images/slide-07.jpg');
  background-position: center;
  background-size: cover;
  height: 650px;
}


.card .card-image img{
  height: 250px;
}


h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}


/* transparent css */


/* Solid class attached on scroll past first section */

.solid {
  background-color: whitesmoke;
  width: 100%;
  transition: background-color 1s ease 0s;
  /* transition: background-color .35s; */
  box-shadow: 0 0 4px grey;
  /* height: 100px; */
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px 0 0 15px;  
}
.creativity{
  margin: 10px auto;

}
.creativity>ul li{
  width: 100px;
  padding: 10px;
  margin: 15px;
}
.section2{
  padding: 20px;
  margin: 20px auto;

}
.section2 .card .card-image img{
  /* padding: 20px; */
  height: 400px;

}
.popularSearch{
  margin-top: 10px;
  padding: 20px;
}
.popularSearch li{
  list-style-type: none; 
  padding: 2px;
}
.popularSearch li a{
  color: gray;
}
.section3{
  height: fit-content;
}
.section3Sinup{
  border-radius: 10px;
  padding: 30px;
}
.parallax-container {
  height: 550px;
}
.footerLinks{
  padding: 20px;
  margin-top: 10px;
  background-color: #212331;
  border-top: 1px solid #474759;
}
.footerLinks ul li{
  padding: 10px;
}
.footerLinks ul li a{
  color:gray
}
.footerLinks ul li a:hover{
  color:white;
  text-decoration: underline;
  
}
.footerIcons li{
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}
.footerIcons li a{
  text-decoration: none;
  color: gray;
}

.gallery{
  transition: "transform .135s cubic-bezier(0.0,0.0,0.2,1),opacity linear .15s"
}

/* ================================================================================= */
/* custom editng */
.masonry .brick:hover img {
  opacity: 1;

}

figure.snip0016 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  background: #000000;
  text-align: left;
}
figure.snip0016 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* figure.snip0016 img {
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
} */
figure.snip0016 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}
figure.snip0016 figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  content: '';
  opacity: 0;

}

figure.snip0016 .links {
  bottom: 10px;
  position: absolute;
  color: white;
  display: none;
}
figure.snip0016 .links a {
  display: inline-block;
}

figure.snip0016 .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  padding: 10px 10px 8px 6px;
  opacity: 0;
  transition: .25s;
  /* background: linear-gradient(0deg,rgba(0,0,0,.6) 0,transparent); */
  background: linear-gradient(0deg,rgb(0 0 0 / 80%) 0,#00000000);
  font-size: 14px;
  color: #fff;
}
figure.snip0016 .caption *{
  color: #fafafd;
  padding: 0px 5px;
  margin: 0 auto;

}
figure.snip0016:hover .caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    color: #fff;
}







/* figure.snip0016:hover img {
  transition: opacity 2s ease 0s;
  opacity: 1;
} */
figure.snip0016:hover .links  {
  width: auto;
  transform: translateX(-3em);
  display: inline-block;
}

/* figure.snip0016:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
} */
/* ================================================================================= */
.react-images__navigation--isModal{
  height: 2px;
  background-color: transparent;
}
.freeLabel{
  float: left;
  margin: -30px -50px;
}
.freeLabel img{
  width: 30%;
  top:0;
  left:0px 
}
.detailSectionSinup{
  border:1px solid lightgrey;
  padding: 30px;
  margin: 0px;
  margin-top: 30px;
}
.details-image{
  margin: 0px;
  margin-top: 30px;
  border: 1px solid lightgrey;
  text-align: right;
}
.details-image img{
  border-bottom: 1px solid lightgrey;
}
.details-image button{
  padding: 15px;
  /* margin:5px; */
  border-left: 1px solid lightgrey;
  /* float: right; */
}
.downloadBtn{
  width:100%;
  padding: 20px auto;
  margin: 0px;
}
.customDownload{
  /* display: inline-flex; */
  /* display: inline-block; */
  /* padding: 10px; */
  width: 100%;
  /* transform: translateX(-10px); */
  /* text-align: center; */
  margin: 0px -4%;
  /* padding-left: 10px; */
  /* margin-bottom: -10px; */
}
/* .downloadContent{
  left : 91px;
} */
.downloadContent li{
  padding:15px;
  /* padding-top: 5px; */
}
.customDownload1{
  display: inline-flex;
  
  margin: auto;
  text-align: center;
}
.customDownload1 li{
  width: auto;
  /* background-color: red; */
}
.cross{
  position: relative;
}

.stext-101 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.466667;
  text-transform: uppercase;
  color: white;
}
.size-116 {
  width: 100%;
  height: 50px;
}
.bg3 {background-color: #222;}
.bor14 {
  border-radius: 25px;
}
/*---------------------------------------------*/
.hov-btn3:hover {
  border-color: #717fe0;
  background-color: #717fe0;
  color: #fff;
}

.hov-btn3:hover i {
  color: #fff;
}
/* wrap btn */

.how-itemcart1 {
  width: 60px;
  position: relative;
  margin-right: 20px;
  cursor: pointer;
}

.how-itemcart1 img {
  width: 100%;
  height: 80px;
}

.how-itemcart1::after {
  content: '\e870';
  font-family: Linearicons-Free;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0;
}

.how-itemcart1:hover:after {
  opacity: 1;
}
.border-gray{
  border: 1px solid lightgray;
}



/* custom tabs */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin: 0px;
}
.search-nav{
  background-color: currentColor;
  border-radius: 8px;
  border: 2px solid darkslategray;
  box-shadow: 1px 3px lightgrey;
}
.input-field input[type=search]{
  font-size: -webkit-xxx-large;
  font-family: monospace;
}
.input-field input[type=search]:focus:not(.browser-default){
  border-radius: 8px;
}
.input-field label:hover {
    cursor: pointer;
}
.searchLabel{
  font-size: -webkit-xxx-large;
  font-weight: initial;
  font-family: monospace;
}

/* for front end card */

.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
  margin-top: 30px;
  margin-bottom: 20px;
}

.secondCard {
  grid-area: 1 / 1;
  /* height: 200px;
  width: 400px; */
  height: 100%;
  width: 100%;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  /* background: rgba(249, 198, 26, 0.88); */
  background: rgba(131, 134, 142, 0.9);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

.secondCard .enclosed {
  background: #000;
  line-height: 1;
  color: rgba(131, 134, 142, 0.9);;
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  /* transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03); */
  transform: translateX(-20px) rotateY(-9deg) rotateX(9deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #000;
  box-sizing: content-box;
}


.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
}


.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}


/* The secret CSS recipe for Masonry Layout */

.masonry { /* Masonry container */
  column-count: 3;
  /* column-gap: 1em; */
  column-gap: 5px;
}

/* .item { 
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
} */

/* html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
} */

/* The Masonry Container */

.masonry {
  /* margin: 1em auto;
  column-gap: 1em; */
  margin: 5px auto;
  column-gap: 5px;
}
/* .masonry.bordered {
  column-rule: 1px solid #eee;
  column-gap: 50px;
} */

/* The Masonry Brick */
/* .item {
  background: #fff;
  padding: 1em;
  margin: 0 0 1.5em;
} */







/* pagination */

.pagination{
  float: right;
  padding: 10px;
}
.pagination {
  float: right;
  padding: 10px;
}




/* new home page */
.homePageSection1{
  background-position: 50% -25px;
  height: 520px;
  /* background-image: url(./images/home.jpg); */
  background-image: url(./images/coverPic.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.topTitle{
  margin: 90px auto 40px;
}
.topTitle > *{
  color:white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
input[type=text]:not(.browser-default){
  background-color: white;
}
.topSearch{
  width: 70%;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow:3px 0px 0px 6px rgba(0, 0, 0, .5) ;     line-height: "40px" ;
  border: 2px solid #454545;
}
.topSearch > *{
  padding: 0px;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.container{
  width: 90%;
  margin: 0px auto;
}
/* main page image gallery css */

figure.snip1321 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  /* margin: 10px; 
  min-width: 230px;
  max-width: 315px;
  width: 100%; */
  padding: 2px;
  color: #000000;
  /* color: white; */
  margin: 0px;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 img {
  /* max-width: 100%; */
  vertical-align: top;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}



figure.snip1321 h2,
figure.snip1321 h4 , figure.snip1321 button {
  margin: 0;
  color:white;
  
}
figure.snip1321 h2 {
  font-weight: 600;
}

figure.snip1321 button {
  font-weight: 400;
  width: fit-content;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 5px 12px;
  text-transform: uppercase;
}






figure.snip1321 i {
  font-size: 32px;
}
figure.snip1321:after {
  background-color: black;
  border: 1px solid lightgrey;
  opacity: .5;
  color:white;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  /* opacity: 0; */
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .8;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.6;
}

.contributersSection{
  background-color: #e0dede;
  padding: 20px;
  /* margin-top: 10px; */
}
.contributersSection h3 {
  margin: auto;
  letter-spacing: .0625rem;
  font-family: Poppins-Regular, sans-serif;;
  color:black;
  font-size: .875rem;
  font-weight: 700;
}
.contributersSection p {
  margin: auto;
  text-align: center;
  letter-spacing: .0625rem;
  line-height: 1.5rem;
  font-family: 'Raleway', Arial, sans-serif;
  color: #8e8e8e;
  font-size: 1.5rem;
  font-weight: 300;
}
.art1{
  text-align: center;
  margin: auto;
  padding: 15px;
  margin: 10px;
}
.art1 h3{
  color: #707070;
  font-size: 1.125rem;
  font-family: 'Raleway', Arial, sans-serif;
  padding-top: 17px;
  padding-bottom: 2px;
}
.art1 h5{
  color: #707070;
  font-size: 0.825rem;
  padding-top: 5px;
  font-family: 'Raleway', Arial, sans-serif; 
}
.pagination li.active a {
  color: #fff;
  background-color: #212331;
}
.aboutCoverPic{
  background-image: url(./images/about-us2.jpg);
  min-height: 500px;
  height: fit-content;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
.aboutTopContent{
  padding: 60px;
}
.aboutTopContent *{
  padding: 6px;
  text-align: justify;
}
.aboutSection2{
  margin: 0px auto;
  text-align: center;
  padding: 50px;
  background-color: #FFF!important;
}
.aboutSection2 h2{
    font-weight: 200;
    padding: 10px;
}
.aboutSection2 p{
    font-weight: 200;
    color: #848491;
}
.aboutSection3{
  padding: 20px;
}
.aboutSection3 *{
  margin: 0px auto;
  text-align: center;
}
.aboutSection3 h1{
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutSection3 p{
  line-height: 20px;
  font-weight: 200;
  padding: 10px;
}
.aboutSection4 {
  background-image: url(./images/aboutUs-Team2.svg);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: 100% 100%;
  background-size: 60%;
  border-bottom: 2px solid #474759;
  min-height: 350px;
  height: fit-content;
  padding: 40px;
}
.aboutSection4 *{
  text-align: justify;
  margin: 0px auto;
  color: black;
  line-height: 2em;

}
.aboutSection4 h3{
  font-weight: bolder;
  text-align: center;
  padding-left: 20px;
}
.image_8{
  position: static;
  left: 0px;
  right: 0px;
  z-index: auto;
  display: block;
  overflow: auto;
  width: 64px;
  height: 0px;
  min-height: 64px;
  min-width: 64px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  float: none;
  clear: none;
  color: black;
  text-align: center;
}

.aboutSection5{
  margin: 0px auto;
  text-align: center;
  color: #d6fdff;
}
.aboutSection5{
  margin: 0px auto;
  text-align: center;
  padding: 30px;
}
.aboutSection5 h3{
  color: #d6fdff;
  text-align: center;
  padding: 10px;
}
.aboutSection5 h2{
  color: #d6fdff;
  text-align: center;
  padding-bottom: 30px;
}
.aboutSection5 p{
  color: #d6fdff;
  text-align: justify;
}

.contactUsSection1{
  background-image: url(./images/contact-us.jpg);
  min-height: 500px;
  height: fit-content;
  padding:0px;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
input[type=text]:not(.browser-default):focus:not([readonly]) , textarea.materialize-textarea:focus:not([readonly]) , input[type="email"]:not(.browser-default):focus:not([readonly]){
  /* background-color: #212331; */
  border-bottom: #212331 ;
  box-shadow: 0 1px 0 0 #212331;
}
.input-field .prefix.active{
  color:#212331;
}
.contactForm *{
  padding:10px
}
.submitBtn>input[type='submit']{
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: lightgrey;
}
.submitBtn>input[type='submit']:hover{
  background-color: #474759;
  color: white;
}
.termsSection1{
  /* background-image: url(./images/termsAndConditions.jpg); */
  background-image: url(./images/terms2.jpg);
  height: fit-content;
  min-height: 300px;
  padding: 0px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.termsSection2 , .privacySection2{
  padding-top: 60px;
  padding-bottom: 72px;
  margin: auto;
  width: 80%;
}
.termsSection2>h1{
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
}
.WqSo3 h2 {
  line-height: 1.2;
  margin: 0;
  /* font-size: 15px; */
  font-size: 25px;
}
.WqSo3 p {
  margin: 16px 15px;
}
.WqSo3 ul {
  padding: 5px 40px;
}
.WqSo3 ul li {
  padding: 10px;
  list-style: upper-latin;
}

.privacySection1{
    background-image: url(./images/privacy2.jpg);
    height: fit-content;
    min-height: 350px;
    padding: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


.privacySection2>h1{
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.2;
    font-size: 28px;
}
.privacyList p{
  margin: 16px 15px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color:black;
  font-family: -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
}
.WqSo3{
  margin-top: 50px;
}
.WqSo3 a {
  color: #767676;
  transition: color .1s ease-in-out,opacity .1s ease-in-out;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
}

.dropdown-content li>span {
  color: lightslategray;
}

.container1{
  padding: 40px 0px;
}



/* stripe css */
/* .StripeElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
} */














/* Media query */

/* Masonry on Desktops large screens */
@media only screen and (min-width: 1024px) {
  /* home */
  .brand-logo1{
    margin-top: -10px;
  }
  .brand-logo1>img {
    width: 58px;
  }



  /* images*/
  .masonry {
    column-count: 5;
  }
}

/* Masonry on Small screens, laptops. */
@media only screen and (max-width: 1023px) and (min-width: 769px) {
  /* home */
  .brand-logo1>img {
    width: 58px;
  }
  .section3 h1{
    font-weight: 100;
    font-size: 50px;
  }
  .section3 h4{
    font-weight: 100;
  }
  .section3Sinup .container{
    width: 100%;
    padding: 0px;
  }
  .gray-text{
    font-size: 12px;
  }

  /* footer */
  .grey-text{
    font-size: 18px;
  }
  .footerLinks ul li {
    padding: 5px;
  }
  .footerIcons i {
    font-size: 30px;
  }


  

 


  /* images */
  .masonry {
    column-count: 3;
  }
}
/* Masonry iPads, Tablets. */
@media only screen and (max-width: 768px ) and (min-width: 481px ) {
  /* home */
  
  .topTitle h3{
    font-size: medium;
  }
  .topSearch{
    width: 100%;
  }
  .brand-logo1>img {
    width: 50px;
  }
  .section3 h1{
    font-size: 30px;
  }
  .section3 h4{
    font-weight: 100;
  }
  .section3 .container{
    max-width: 720px;
  }

  .section3Sinup h2{
    font-size: 20px;
  }
  .section3Sinup .container{
    width: 100%;
    padding: 0px;
  }
  .gray-text{
    font-size: 9px;
  }
  /* footer */
  .grey-text{
    font-size: 14px;
  }


  .footerLinks ul li {
    padding: 5px;
  }

  .footer-copyright{
    font-size: 15px;
  }
  .footerIcons i {
    font-size: 25px;
  }
  /* search */
  .nav-wrapper .input-field input[type=search] {
    font-size: 23px;
    padding-left: 2.6rem;
    margin: 0px;
  }

  /* images details */
  .detailSectionSinup{
    padding: 20px;
  }
  .imageDetailSection .container{
    width: 95%;
    padding: 0px;
  }



  /* images */
  .masonry {
    column-count: 3;
  }
  .brick{
    max-height: 320px;
  }
}



/* Masonry Mobile. */
@media only screen and (max-width: 481px) {

  /* home */
  .topTitle h1{
    font-size: 50px;
  }
  .topTitle h3{
    font-size: medium;
  }
  .topSearch{
    width: 100%;
  }
  .brand-logo1>img {
    width: 40px;
  }
  .exploreButton{
    margin-top: 5px;
  }
  .popularSearch li{
    padding: 0px;
    overflow: hidden;
  }
  .section3 h1{
    font-size: 20px;
  }
  .section3 h4{
    font-size: 12px;
  }
  .section3Sinup{
    padding: 15px;
  }
  .section3Sinup .container{
    width: 100%;
    padding: 0px;
  }
  .section3Sinup .container .col-sm-12{
    font-size: 12px;
  }
  .contributersSection p{
    font-size: 12px;
  }
  .gray-text{
    font-size: 8px;
  }
  /* footer */
  .grey-text{
    font-size: 12px;
  }
  .footerLinks>.container{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .footerLinks ul li {
    padding: 2px;
  }
  .footer-copyright{
    font-size: 12px;
  }
  .footerIcons i {
    font-size: 20px;
  }

  /* images */
  .masonry {
    column-count: 1;
  }
  .brick{
    max-height: 388px;
    min-height: 180;
  }
  .brick>figure.snip0016{
    max-height: 388px;
    min-height: 180;
    margin: 2px auto;
  }


  /* search */
  .nav-wrapper .input-field input[type=search] {
    font-size: 15px;
    padding-left: 2.6rem;
    margin: 0px;
  }


  /* images details */
  .detailSectionSinup{
    padding: 10px;
  }
  .imageDetailSection .container{
    width: 100%;
    padding: 0px;
  }
  .detailSectionSinup h2 , .detailSectionSinup *{
    font-size: 12px;
  }
  .detailSectionSinup h2{
    font-size: 25px;
  }





}





/* just for logo align */
@media only screen and (max-width: 992px) {
  .brand-logo1{
    float: right;
    margin-top: 0px;
    padding: 0px;
  }
}

/* grid */
@media (max-width: 575px){
  .col-xs-12 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .col-xs-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
  .col-xs-3{
    -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}
/* grid */
@media (max-width: 350px){
  .col-xs-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }
  .col-xs-3{
    -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
}
@media (min-width: 576px){
  /* .container {
    max-width: 90%;
  } */
}



/* cart alert */

/* The alert message box */
.alert {
  padding: 20px;
  /* background-color: #2196F3;  */
  background-color: #4CAF50; 
  color: white;
  margin-top: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

.select-dropdown.dropdown-trigger{
  background-color: transparent!important;
  border-bottom: 1px solid darkgrey!important;
  color: grey!important;
}



/* --------------------------------Material ui Css ------------------------ */

.MuiInputBase-input.Header-inputInput-16{
  outline: none;
  border: none;
  padding-left: 12px;
  margin: auto;
  background-color: transparent;
}
.Header-link-11{
  color:white
}

/* ------------------------ ads section css ----------------------------------- */

.adslot_1 , .adslot_1 * { 
  width: 320px!important; 
  height: 100px!important;
  border: 1px solid black;
  margin: auto;
  text-align: center;
}
@media (min-width:500px) {
   .adslot_1 , .adslot_1 * { 
     width: 468px!important;
     height: 60px!important; 
  } 
}
@media (min-width:800px) {
   .adslot_1 , .adslot_1 * {
      width: 728px!important;
      height: 90px!important; 
    } 
  }